:root {
  --font1: roboto;
  --background: linear-gradient(to bottom, #ece4d9 0%, #e9dfd1 100%);
  --title: #f1ebe5;
  --black: #000000;
  --palette0: rgb(40, 40, 40);;
  --palette1: #7a695d;
  --palette2: #ae9c8f;
  --palette3: #e5d2c4;
  --palette4: #f2e8e1;
  --white: #ffffff; 

}

* {
  margin: 0;
  padding: 0;
}
html {
  background: var(--background);
  height: 100%;
}

/* LANDING */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;
  gap: 10px;
  margin-left: 35px;
}

.title {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 88px;
  color: var(--title);
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
  font-weight: bold;
  letter-spacing: -4px;
  border-radius: 20px;
}

.subtitle {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 27px;
  color: var(--white);
  text-shadow: 0 2px 5px #d2bc9a, 0px -1px 0px #fff;
}

.description {
  margin-top: 5px;
  font-size: 16px;
  font-family: var(--font1);
  font-weight: 400;
  color: var(--white);
  width: 300px;
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 80px;
}

.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font1);
  list-style: none;
  gap: 28px;
}

.navbar li a {
  min-width: 60px;
  height: 20px;
  color: var(--palette0);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 3px;
  border: none;
  background: var(--white);
  box-shadow: 0 3px #666565;
  text-decoration: none;
  font-size: 13px;
  border: 1px solid rgb(13, 13, 13);
  text-align: center;
}
.navbar li a:hover {
  background-color: rgb(239, 234, 234);
  box-shadow: 0 3px hwb(0 72% 1%);
  top: 1px;
}

.navbar li a:active {
  box-shadow: 0 0 var(--white);
  top: 5px;
}

/* ABOUT-ME */

.home-icon {
  width: 25px;
  margin-bottom: 100px;
  margin-left: 35px;
  margin-top: 25px;
}

.hero{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.subtitle-about{
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: var(--title);
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: -4px;
    border-radius: 20px;
    font-size: 60px;
    margin-top: 90px;
    margin-right: 35px;
   
 
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text {
  font-family: var(--font1);
  font-size: 14px;
  text-align: left;
  color: var(--palette1);
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 35px;
  width: 250px;
  margin-top: 28px;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--palette4);
  margin-right: 40px;
  margin-top: 30px;


}

.btn {
  margin-right: 140px;
  margin-top: 40px;
  height: 50px;
  width: 140px;
  color: var(--white);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  background: var(--palette1);
  box-shadow: 0 3px var(--palette4);
  font-size: 13px;
  border: 1px solid var(--white);
  text-align: center;
}
