.about {
  cursor: auto;
  height: 100%;
  background-color: #f0f1f3ff;
}

.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}

.home-icon-about {
  width: 1.87rem;
  transition: 0.2s;
}

.avatar {
  position: relative;
}

.grogu {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3.125rem;
  animation: levitate 2.3s infinite ease-in-out;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.437rem);
  }

  100% {
    transform: translateY(0);
  }
}

.img {
  width: 8.125rem;
  margin-right: 0.625rem;
  margin-top: -0.625rem;
  border-radius: 50%;
  border: 2px solid rgb(240, 240, 255);
}

.title-about {
  margin-top: 0.93rem;
  font-family: var(--font-tertiary), Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3.75rem;
  color: #f0f1f3ff;
  text-shadow: 0 8px 9px #c3c1c1, 0px -2px 1px #d6d3d3;
  letter-spacing: -1px;
  border-radius: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  max-width: 37.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: rgb(117, 116, 116);
}

.adalab {
  color: rgb(23, 145, 169);
  font-weight: 600;
  text-decoration: none;
}

.download-btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 12.5rem;
  height: 2.5rem;
  margin-top: 2rem;
  padding: 0.31rem 0.625rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  background-color: rgb(32, 148, 172);
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 5rem;
}

.download-btn:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 0;
  right: 0;
  height: 100%;
  background-color: rgb(69, 67, 67);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-radius: 5px;
}

.download-btn:hover:after {
  left: 0;
  width: 100%;
}

.download-btn:active {
  top: 0.125rem;
}

.download-link {
  text-decoration: none;
  color: white;
  font-family: var(--font-secondary), Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 0.8px;
  -webkit-text-stroke: 0.1px black;
}

@media (max-width: 30rem) {
  .title-about {
    display: none;
  }
}

@media (max-height: 37rem) {
  .text-description {
    display: none;
  }

  .title-about {
    display: block;
  }
}

@media (min-width: 1000px) {
  .home-icon-about {
    width: 2.187rem;
  }

  .home-icon-about:hover {
    width: 2.37rem;
  }

  .title-about {
    font-size: 6.25rem;
    margin-top: -5.625rem;
    margin-right: 10rem;
  }

  .img {
    width: 12.5rem;
    margin-left: 21.25rem;
    margin-top: -2.18rem;
  }

  .download-btn {
    margin-top: 2.5rem;
  }
}
