

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.home-icon-about {
    width: 25px;
    margin-bottom: 100px;
    transition: 0.2s;
}

.home-icon-about:hover {
  background-color: var(--palette0);
  padding: 5px;
  border-radius: 50%;
}

.hero{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.title-about{
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: var(--title);
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: -4px;
    border-radius: 20px;
    font-size: 65px;
    margin-top: 120px;
    margin-right: 22px;
}

.img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid var(--palette4);
    margin-top: 40px;
}

.text {
    font-family: var(--font1);
    font-size: 16px;
    text-align: left;
    color: var(--palette2);
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin-top: 28px;
  }

.download-btn {
   
    height: 40px;
    width: 220px;
    color: var(--palette1);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 9px;
    background: var(--white);
    box-shadow: 0 3px var(--palette2);
    font-size: 13px;
    border: 1px solid var(--palette2);
    text-align: center;
    text-decoration: none;
  }
  
  .download-btn:hover {
    box-shadow: 0 3px hwb(0 72% 1%);
    top: 1px;
  }
  
  .download-btn:active {
    box-shadow: 0 0 var(--white);
    top: 5px;
  }