.about {
  background: #f0f1f3ff;
  height: 100%;
  cursor: auto;
}

.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-icon-about {
  width: 1.87rem;
  margin-right: 19.3rem;
  margin-top: 2.18rem;
  transition: 0.2s;
}

.home-icon-about:hover {
  width: 2.37rem;
}

.grogu{
  width: 50px;
   position:fixed;
   margin-bottom: 140px;
   margin-left: 100px;

   animation: levitate 2.3s infinite ease-in-out;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

.img {
  margin-right: 10px;
  margin-top: -10px;
  width: 130px;
  border-radius: 50%;
  border: px solid rgb(240, 240, 255);
}

.title-about {
  font-family: var(--font-tertiary), Helvetica, sans-serif;
  color: #f0f1f3ff;
  text-shadow: 0 8px 9px #c3c1c1, 0px -2px 1px #d6d3d3;
  font-weight: bold;
  letter-spacing: -1px;
  border-radius: 20px;
  font-size: 60px;
  margin-top: 15px;
}

.text {
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(117, 116, 116);
  font-size: 15px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.adalab {
  color: rgb(23, 145, 169);
  font-weight: 600;
  text-decoration: none;
}

.download-btn {
  width: 200px;
  height: 40px;
  background-color: rgb(32, 148, 172);
  padding: 5px 10px;
  margin-top: 32px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

}

.download-btn:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: rgb(69, 67, 67);
  right: 0;
}

.download-btn:hover:after {
  width: 100%;
  left: 0;
}

.download-btn:active {
  top: 2px;
}

.download-link {
  text-decoration: none;
  color: white;
  font-family: var(--font-secondary), Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 0.8px;
  -webkit-text-stroke: 0.1px black;
}



@media (min-width: 1000px) {
  .home-icon-about {
    width: 35px;
    margin-left: 1300px;
    margin-top: 50px;
    margin-right: 0;
  }

  .title-about {
    font-size: 100px;
    margin-top: -90px;
    margin-right: 160px;
  }

  .img {
    width: 200px;
    margin-left: 370px;
    margin-top: -35px;
  }
  .text {
    font-size: 16px;
    width: 600px;
    margin-top: 40px;
    line-height: 30px;
  }

  .download-btn {
    margin-top: 40px;
  }

  .grogu{  
    width: 70px;
    position:fixed;
    margin-bottom: 50px;
    margin-left: 575px;}
}
