
.contact {
    background: #f0f1f3ff;
    height: 100%;
  }

  .main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-icon-contact {
  width: 30px;
  margin-right: 310px;
  margin-top: 35px;
  transition: 0.2s;
  padding: 0;
}

.home-icon-contact:hover {
width: 38px;
}

.title-contact {
  font-family:  var(--font-tertiary), Helvetica, sans-serif;
  color:#f0f1f3ff;
  text-shadow: 0 8px 9px #c3c1c1, 0px -2px 1px #d6d3d3;
  font-weight: bold;
  letter-spacing: -4px;
  border-radius: 20px;
  font-size: 60px;
  margin-top: 150px;
}

.media-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    list-style: none;
    gap: 23px;
    margin-top: 60px;
}
.media-icon{
    width: 35px;
    height: 35px;
    transition: 0.2s;
}
.media-icon:hover{
    width: 40px;
    height: 40px;
    opacity: 0.5;
}
.media-icon-mail{
    width: 19px;
    height: 19px;
    padding: 8.5px;
    background-color: black;
    border-radius: 2.5px;
    transition: 0.3s;
    filter: grayscale(4)  brightness(1);
}
.media-icon-mail:hover{
    width: 22px;
    height: 22px;
    padding: 10px;
    opacity: 0.5;
}


@media (min-width: 1000px) {
  .home-icon-contact {
    margin-left: 1600px;
    margin-top: 50px;
  }

  .title-contact {
    font-size: 100px;
    margin-top: 50px;
  }

  .media-links{
    margin-top: 100px;
    gap:50px
  }

  .media-icon{
    width: 50px;
    height: 50px;
  }
  .media-icon-mail{
    width: 35px;
    height: 35px;
    border-radius: 4px;
  }
}