.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 4.37rem;
  cursor: auto;
}

.nav {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: clamp(0.6rem, 6vw, 2rem);
  font-family: var(--font1);
  list-style: none;
}

.navbar li a {
  position: relative;
  display: inline-block;
  min-width: 3.75rem;
  height: 1.87rem;
  padding: 0.31rem 0.625rem;
  color: var(--palette0);
  font-weight: 700;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 0.18rem;
  border: none;
  background: var(--white);
  box-shadow: 0 3px #666565;
  text-decoration: none;
  font-size: 0.81rem;
  border: 1px solid rgb(13, 13, 13);
  text-align: center;
}

.navbar li a:hover {
  box-shadow: 0 3px 10px rgb(149, 96, 255),
    0 3px 50px rgba(183, 131, 255, 0.525), 0 3px 10px rgba(129, 50, 255, 0.258),
    0 3px 15px rgba(255, 255, 255, 0.099), 0 3px 20px rgba(255, 255, 255, 0.066);
  top: 1px;
}

.navbar li a:active {
  box-shadow: 0 0 var(--white);
  top: 5px;
}

@media (max-width: 30rem) {
  .footer {
    padding-bottom: 2rem;
  }
}