@import url(./about.css);
@import url(./projects.css);
@import url(./landing.css);
@import url(./contact.css);
@import url(./footer.css);

:root {
  --font-primary: Helvetica;
  --font-secondary: "StarJedi";
  --font-tertiary: "ArialRounded";
  --background: linear-gradient(to bottom, #ece4d9 0%, #e9dfd1 100%);
  --title: #f1ebe5;
  --black: #000000;
  --palette0: rgb(40, 40, 40);
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "StarJedi";
  src: url("../fonts/jedi.ttf") format("truetype");
}
@font-face {
  font-family: "ArialRounded";
  src: url("../fonts/arialrounded.ttf") format("truetype");
}
body {
  font-family: var(--font-primary), Helvetica, sans-serif;
  font-size: 16px;
}
