@import url(./about.css);
@import url(./projects.css);
@import url(./landing.css);
@import url(./contact.css);
@import url(./footer.css);

:root {
  --font-primary: Helvetica;
  --font-secondary: "StarJedi";
  --font-tertiary: "ArialRounded";
  --background: linear-gradient(to bottom, #ece4d9 0%, #e9dfd1 100%);
  --title: #f1ebe5;
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
}

@font-face {
  font-family: "StarJedi";
  src: url("../fonts/jedi.ttf") format("truetype");
}
@font-face {
  font-family: "ArialRounded";
  src: url("../fonts/arialrounded.ttf") format("truetype");
}
body {
  font-family: var(--font-primary), Helvetica, sans-serif;
}
