.projects {
  background: #f0f1f3ff;
  height: 100%;
}

.main-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-icon-projects {
  width: 1.87rem;
  margin-right: 19.3rem;
  margin-top: 2.18rem;
  transition: 0.2s;
}

.home-icon-projects:hover {
  width: 2.37rem;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: url(../images/sable.png), pointer;
}

.card {
  margin-top: 1.25rem;
  height: 14.37rem;
  width: 21.25rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px 3px rgb(224, 223, 224);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.5s;
}

.video-container {
  width: 9.37rem;
  height: 14.06rem;
  border-radius: 0.62rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-left: 0.125rem;
  cursor: url(../images/sable.png), pointer;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.5rem;
}

.card-title {
  font-family: var(--font-secondary), Helvetica, sans-serif;
  color: rgb(23, 145, 169);
  font-size: 1.43rem;
  margin-top: 0.31rem;
  text-align: center;
}

.card-text {
  width: 10.62rem;
  margin-top: 0.93rem;
  font-family: sans-serif;
  font-size: 0.73rem;
  line-height: 1.5;
  text-align: center;
}

.github-logo {
  width: 1.25rem;
  transition: 0.5px;
  margin-left: 7.5rem;
  margin-top: 0.625rem;
}

.video-rocket {
  width: 6.87rem;
}

.image-rick {
  width: 6.25rem;
  border-radius: 0.31rem;
}

.image-rick-detail {
  display: none;
}

.sable {
  width: 3.125rem;
  position: absolute;
}

@media (min-width: 1000px) {
  .home-icon-projects {
    width: 2.187rem;
    margin-left: 87.5rem;
    margin-top: 3.125rem;
    margin-right: 0;
  }

  .home-icon-projects:hover {
    width: 2.37rem;
  }
  .cards {
    margin-top: -3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5.62rem;
  }

  .card {
    height: 31.25rem;
    width: 25rem;
    box-shadow: 0 0 15px 3px rgb(179, 174, 185);
    margin-top: 2.5rem;
    border-radius: 0.93rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
  }

  .card:hover {
    height: 31.68rem;
    width: 25.43rem;
    box-shadow: 0 0 10px 1px rgb(23, 145, 169);
  }

  .video-container {
    width: 24.37rem;
    margin-top: 0.125rem;
    height: 21.87rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    gap: 0.625rem;
  }

  .video-rocket {
    width: 11.87rem;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
  }
  .card-title {
    font-size: 1.87rem;
  }

  .card-text {
    width: 21.87rem;
    margin-top: 0.18rem;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 0.84rem;
    margin-left: 1.87rem;
    margin-right: 1,25rem;
    line-height: 1.5;
  }

  .github-logo {
    width: 1.68rem;
    transition: 0.5px;
    margin-left: 16.8rem;
    margin-top: -0.5rem;
  }

  .github-logo:hover {
    width: 1.81rem;
  }

  .image-rick {
    width: 9.37rem;
    border-radius: 1.25rem;
    margin-left: 0.5rem;
  }
  .image-rick-detail {
    width: 9.37rem;
    border-radius: 1.25rem;
    display: block;
  }

}
